.partners {
  display: none;
}

#user-header {
  background-color: #6DB2B0;
}

#footer a, #user-header ul.user-header-nav, #user-header, #footer-notes h3, #footer-notes h4, #footer div#footer-copyright, #footer div#footer-notes {
  color: #333;
}

#footer div#footer-copyright, #footer div#footer-notes {
  background-color: #e5e5e5;
  width:992px;
}

#footer a:hover {
  text-decoration:underline;
}

#footer .fund {
  color: green;
}

.slogan .pink {
  color:#BF0017;
}

.slogan .moss-green {
  color: #3B6741;
}

div#footer-copyright ul{
  text-align:center;
}

#header ul#main-nav {
  margin-left:30px;
  width: 415px;
}

#header .logo {
  background: transparent url(/images/gojo/logo.png) no-repeat scroll 0 0;
  height:137px;
  width: 366px;
  margin-top:20px;
}

#header .logo p {
  margin:0px;
  height:100%;
}

#header .logo .logo-link {
  height:100%;
  width:100%;
}

#header {
  background: #6DB2B0 url(/images/gojo/header-fill.png) repeat-x scroll 0px 20px;
}

#header div.howtouse {
  height:auto;
  margin-top:10px;
  margin-bottom:-20px;
  width:200px;
  padding:10px;
  background-color:#3e3e3e;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color:#e5e5e5;
}

#header div.howtouse a {
  color:#eee;
  text-decoration:none;
}

#header div.howtouse a:hover {
  text-decoration:underline;
}

#header div.howtouse .roundedcornr_top_807323, #header div.howtouse .roundedcornr_bottom_807323, #header div.howtouse .roundedcornr_top_807323 div {
  background:none;
  height:0px;
  display:none;
}

#header div.howtouse .roundedcornr_box_807323 {
  padding:5px;
  margin:0px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#356e6c;
}

#networks-nav {
  background-color: #439A96;
}

input[type="submit"].donate {
  background-color:#e7393f;
}

a.donate_talent {
  background-color: #80bfbe;
}
