<div id="spotus_form">
   <div id="register">
     <%= link_to "&laquo; Login to #{SITE_NAME}", new_session_path, :class => "float-right" %>
         <%= render :partial => "form_contents"%>
   </div>
</div>
