<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <a name="top"> </a>
  <h2>About Us</h2>
  <hr/>
  <p>
  GoJournalism is a non-profit project that is funded, owned and operated by the Algonquin College Journalism program in Ottawa, Ontario, Canada, and administered by the college’s applied research department. We are an open source project to pioneer Ottawa-based community powered reporting. Through GoJournalism the public can commission and participate with journalists to do reporting on important and perhaps overlooked topics. And journalists can pitch stories they hope would be funded directly by the public or mainstream news organizations.
  </p>
  <p>
  <object width="600" height="425"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=13180915&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=13180915&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="425"></embed></object><p><a href="http://vimeo.com/13180915">GoJournalism</a> from <a href="http://vimeo.com/user3756687">Joe Banks</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
  </p>
  <p>
  All proceeds raised go directly toward paying the journalists to complete the stories, which may be produced in a variety of formats.
  </p>

  <p>
  It was inspired by the successful publically-funded journalism model operating in San Francisco, California at <a href='http://www.spot.us'>www.spot.us</a>. In fact, much of the architecture for this site came from them, generously donated by founder David Cohn.
  </p>

  <p>
  The project manager is Adam Jarvis, a multimedia professor at Algonquin College. Technical work and support is supplied by <a href='http://www.infonium.ca'>Infonium Corp.</a> of Ottawa and the <a href='http://www.rubinauts.com'>Rubinauts</a> working group.
  </p>

  <p>
  The director of GoJournalism is Joe Banks, coordinator/professor of the Algonquin Journalism program. Should you have further inquiries about this project, you can contact him at <a href='mailto:banksj@algonquincollege.com'>banksj@algonquincollege.com</a>.
  </p>

</div>
