<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <h2>Who and what makes GoJournalism go?</h2>
  <h3>
    <strong>
      <a href='www.algonquincollege.com'>Algonquin College</a>
    </strong>
  </h3>
  <p>
  Algonquin College of Applied Arts and Technology was established in 1967 and was named after the First Nations people who lived in the area. Algonquin was formed from the merger of the Eastern Ontario Institute of Technology, established 1957, and the Ontario Vocational Centre, established 1965.
  </p>
  <p>
  The College celebrates 42 years as a leader in post secondary education, and has undergone significant growth since its establishment and continues to grow today.  All three Algonquin College Campuses are set to undergo major <a href='http://www.algonquincollege.com/expansion/'>expansion projects</a>. The Perth and Pembroke Campuses are building all-new facilities and the Woodroffe Campus is beginning construction on a new trades building.
  </p>
  <p>
  Dedication to student success is Algonquin College's guiding principal and is demonstrated through the quality of its programs, staff, the continual expansion of its facilities, and by forging strategic partnerships. Every action since the College was established has been to ensure students have access to the education and skills training demanded by the marketplace to launch a rewarding career.
  </p>

  <h3>
    <strong>
      Joe Banks, director
    </strong>
  </h3>
  <p>
  Banks has been an Ontario rural and suburban community newspaper journalist, editor, publisher, general manager for 22 years, and has been with Algonquin College as a full-time professor and coordinator of the journalism program since 2000. Banks began his newspaper career in May 1978 when, after graduating from Durham College’s journalism program, landed a job as a reporter/photographer at the Haliburton (Ont.) County Echo. Banks has worked since then as a reporter, photographer, managing editor, publisher and general manager for small town and suburban community newspapers in Fort Erie (Times-Review), Peterborough (Review), Arnprior (Chronicle), Almonte (Gazette), Glengarry County (News). Up until August 2000, he was publisher/managing editor of the Morris family community newspapers group in the rural and suburban south Ottawa communities of Manotick and Barrhaven.
  </p>
  <p>
  Between 1989 and 1995, Banks sat on the Ontario Community Newspapers Association (OCNA) Board of Directors and served as the organization’s second vice president in 1993 and 1994. In the course of his career, he has been recognized with several awards for his work as a community journalist, including as a three-time winner of the Bell Canada Award for column writing, the Ontario Ministry of Environment Environmental Writing Award, and the Ontario Hydro Feature Writing Award. In addition, the newspapers he managed have won record numbers of awards in their class for journalism, design, photography and commentary. In March 2000, Banks’ career in the community newspaper industry was capped when he was named by OCNA as one of 50 industry individuals who has made a major contribution to Ontario’s community newspaper industry since OCNA’s founding in 1950.
  </p>
  <p>
  In 2005, he self-published ‘The Osgoode Village Story’, a local history book which has sold 1,400 copies and counting, with all revenues donated to the local community association.
  </p>
  <p>
  In addition to his teaching duties at Algonquin, Banks writes a monthly column for the daily <a href='www.ottawacitizen.com'>Ottawa Citizen</a>, with heavy focus on rural perspectives. He is past president of the Osgoode Village Community Foundation and is an active volunteer member of the Osgoode Ward Advisory Council. He makes his home in the rural Ottawa village of Osgoode.
  </p>

  <h3>
    <strong>
      Adam Jarvis, project manager
    </strong>
  </h3>
  <p>
  Graduating from Algonquin College’s Interactive Multimedia program in 2007, Adam worked in the 3D architecture industry (doing both 3D modeling and web development) for a year and a half before beginning teaching at the college.  He currently teaches in various disciplines, including graphic design, web development, multimedia production, and journalism.
  </p>
  <p>
  Adam started working on this project as web developer on <a href='www.webcitybeat.com'>WebCityBeat</a> an internal tool for journalism students to practice their craft online.  WebCityBeat allows students to combine the video, audio, photography, and writing skills they learn in the program in a single place, and display it to the world, functioning as a dynamic CV as well as a practice arena.
  </p>
  <p>
  Adam became project manager when phase two of the online Journalism project, GoJournalism, began.  This is his first opportunity managing such a large and diverse project and he is excited about the possibilities for the site.
  </p>

  <h3>
    <strong>
      Julie McCann, advisor
    </strong>
  </h3>
  <p>
  Julie has been a full-time journalism professor at Algonquin College since 2003. Prior to that, she was a staff writer at National Post Business magazine and a contributor to Chatelaine, Canadian Geographic, Applied Arts, the Montreal Gazette and the Ottawa Citizen. Previously she was the managing editor of the now-defunct Canadian in-flight magazine and a staff writer at Marketing Magazine. She graduated with a Bachelor of Applied Arts Journalism (magazine) from Ryerson University in Toronto. She makes her home in Ottawa.
  </p>

  <h3>
    <strong>
      Algonquin College Office of Applied Research and Innovation (ARI)
    </strong>
  </h3>
  <p>
  Applied research is a key component of Algonquin College’s Strategic Plan. Established in 2007, the Office of Applied Research (ARI) has a vision to help accelerate innovation and to support social and economic growth in the external community by mobilizing the College’s human resources, financial resources, equipment, and infrastructure to benefit students, faculty, and external partners.
  </p>
  <p>
  In a few short years, ARI has developed a strong, industry-focused applied research program. In FY10 ARI oversaw over 250 students and 25 professors on applied research projects with industry partners. Projects have spanned the gamut of disciplines, from wireless communications and photonics, to media and design, to agricultural machinery.
  </p>

  <h3>
    <strong>
      Rubinauts (Infonium)
    </strong>
  </h3>
  <p>
  Proud to be the technology partner to Algonquin College's Gojo Project, The Rubinauts team is responsible for the configuration, support and maintenance of the Gojo site. In addition, the Rubinauts team is the developing brain behind Infonium Inc.'s successful PatientWay suite and the web enabled reporting tool, Quanta. The Rubinauts team provides technology consulting, web application development and design services. Specializing in Ruby on Rails, The Rubinauts team creates tailored projects and high volume applications. Working in an Open Agile environment, the team is obsessed with delivery value for money in a short turn-around time. You can learn more about The Rubinauts at <a href="www.rubinauts.com">www.rubinauts.com</a>
  </p>

</div>
